@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<br>

<p>This site is intended for anyone involved in photography<br>
and wants to show their work to the public.<br>
Photos can be evaluated and thus ranked in the gallery.<br>
The user can upload his photo for ratings.<br>
Likewise, the user can rate others.
</p>

<p>The site was created so that its author (myself) could learn something about<br>
web development while making something that others can use.
</p>
