@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br>

<h2>Data collected on the basis of consent</h2>

<p>Upon your request and expression of consent, <br>
    we collect the following data for the purpose of providing services to you. <br>
    Your data is not used for any other purposes or shared with third parties. <br>
    It is removed upon your withdrawal of consent or your request to terminate these services.
</p>

<h2>Comments</h2>

<p>Email address, content of the comment: this data is collected when you leave a comment on the Website.</p> 
<p>If you leave a comment on the Website, your email address will also be saved in cookies. <br>
    These are for your convenience so that you do not have to fill in your details again when you leave another comment. <br>
    These cookies will be saved on your computer until you delete them.
</p>